body {
	font-family: 'Cabin', sans-serif;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/ea/80/26/ea802617b2d44fa67988c4b39b903664.jpg');
	/*background-position: center;*/
}

#nav-bar {
	position: fixed;
	right: 0;
	left: 0;
	background-color: white;
	height: 50px;
	font-size: 30px;
	transition: top 1s;
	padding-left: 20px;
	padding-top: 1px;
	border-bottom: 1px solid black;
	z-index: 999;
}

.up {
	top: -50px;
}

.down {
	top: 0;
}

#nav-banner {
	text-align: center;
	font-size: 45px;
	margin: 40px 0 25px 0;
}

#go-back {
	border: none;
    outline: none;
    position: absolute;
    font-size: 25px;
    text-align: center;
    top: 7px;
    right: 20px;
    height: 35px;
    width: 80px;

}

#address-form {
	background-color: #1483CC;
	border: 1px solid #006CB2;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	max-width: 500px;
}

.shadow {
  -webkit-box-shadow: 10px 10px 1px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    10px 10px 1px 7px rgba(0, 0, 0, 0.4);
  box-shadow:         10px 10px 1px 7px rgba(0, 0, 0, 0.4);
}

#form-legend {
	text-align: center;
	padding: 10px 0 5px 0;
	font-size: 25px;
}

.form-group {
	margin-bottom: 10px;
}

#address-form input, #address-form label, #state {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#address-form label {
	font-size: 22px;
}

#address-form input, #state {
	font-size: 18px;
}

#search {
	display: block;
	margin: 10px auto 20px auto;
	border: 1px solid #006CB2;
}

#representatives-list {
	background-color: #1483CC;
	margin: 0 20px 0 20px;
}

.tab {
	overflow: hidden;
    margin: 35px 35px 0 35px;
}

div.tab button {
	float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/*.tab button:hover {
    background-color: #828B90;
}*/

.active {
    background-color: #1483CC;
}

#map {
	height: 450px;
	width: 100%;
	margin: 0 35px 0 35px;
}

.hidden {
	display: none;
}

.hide-map {
	position: relative;
	left: -9999px;
}

#representatives-list {
	position: relative;
	top: -450px;
}

#no-election-results-container {
	position: relative;
	top: -390px;
	background-color: #1483CC;
	margin: 0 35px 0 35px;
	height: 300px;
	width: 300px;
	margin: 0 auto 0 auto;
}

#no-election-results-container:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 17px 10px #777;
    -moz-box-shadow: 0 17px 10px #777;
    box-shadow: 0 17px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

#no-election-results-container p {
	font-size: 29px;
	text-align: center;
	padding: 20px;
}

.officials-containers {
	border: 1px solid black;
	background: rgb(221, 221, 221);
	margin: 20px;
	padding-left: 0;
	padding-right: 0;
}

.default-photo-container {
	background-image: url('https://d2ytqrx2swf6ug.cloudfront.net/assets/no-image-available-bbdbbe501d2b08a157a21431bc7b49df2c6cf6d892cc3083114229876cd7d6f4.jpg');
	background-position: center;
}

.photo-container {
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.photo {
	height: auto;
	width: 100%;
	font-size: 0;
}

.office-title, .officials-name, .officials-party {
	margin: 0;
}

.office-title {
	font-size: 24px;
	padding: 6px;
}

.officials-name, .officials-party, .officials-contact {
	font-size: 18px;
	line-height: 24px;
	padding: 0 6px 0 6px; 
}

.officials-contact {
	padding-bottom: 6px;
}